.parent {
    height: 14rem;
    width: 15rem;
    border: 10px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    border: 1px solid  rgb(48, 64, 79);
}
.image {
    filter: contrast(110%);
    border: 10px;
    width: 100%;
    object-fit: cover;
    height: 9rem;
}
.other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.name {
    font-weight: 700;
    letter-spacing: 0.01rem;
}
.price {
    margin: 0.5rem;
}
@media screen and (min-width: 375px) {
    .parent {
        width: 10.2rem;
    }
}
@media screen and (min-width: 475px) {
    .parent {
        width: 13rem;
    }
}
@media screen and (min-width: 575px) {
    .parent {
        width: 10.7rem;
    }
}
@media screen and (min-width: 800px) {
    .parent {
        width: 13rem;
        height: 18rem;
    }
}

@media screen and (min-width: 900px) {
    .parent {
        width: 16rem;
        height: 18rem;
    }
    
    .image {
        height: 11rem;
    }
}